---
import Layout from "../layouts/Layout.astro";
import type { Post } from "../types/interface";

export async function getStaticPaths() {
  const allPosts: any = await Astro.glob("../posts/*{md,mdx}");
  const posts: Post[] = allPosts.filter(
    (post: Post) => !post.frontmatter.draft && post.frontmatter.slug
  );

  return posts.map((post: Post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {post}
  }));
}

const { post } = Astro.props;
---
<Layout title={post.frontmatter.title}>
	<div class="pb-12 mx-auto max-w-3xl prose prose-md prose-headings:font-bold prose-a:text-blue-600">
		<h2 class="text-center text-5xl pt-12 pb-3">{post.frontmatter.title}</h2>
		<p class="text-center text-lg text-gray-600 pb-4">{post.frontmatter.description}</p>
		<post.Content />
	</div>
</Layout>