---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
---

<Layout title="MyBlog">
  <div class="py-10 lg:py-16">
    <h1
      class="text-5xl lg:text-9xl font-bold bg-clip-text text-transparent bg-gradient-to-tr from-blue-500 to-green-500 text-center euphoria-script-regular"
    >
      Lense
    </h1>
  </div>
  <div class="max-w-3xl mx-auto">
    <SearchBar />
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");
  .euphoria-script-regular {
    font-family: "Euphoria Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
</style>
