---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
---

<Layout title="MyBlog">
  <div class="flex flex-col justify-center align-middle h-[50vh]">
    <div class="py-5 lg:py-2">
      <h1
        class="text-5xl lg:text-9xl font-bold bg-clip-text text-transparent bg-gradient-to-tr from-blue-500 to-orange-500 text-center ubuntu-mono-regular"
      >
        Lense
      </h1>
    </div>
    <div class="mx-auto w-[85vw] md:w-[50vw] lg:w-[35vw]">
      <SearchBar />
    </div>
  </div>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  .ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }

  .ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }

  .ubuntu-mono-bold-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
</style>
